{% extends 'mangas/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h1>Mangas recientes . . .</h1>

<div class="row">

    {% for manga in mangas %}

    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card h-100 shadow-sm hover-shadow transition">
                <img src="{{ manga.cover.url }}" class="card-img-top">

                <div class="card-body">

                    <h5>{{ manga.title }}</h5>

                    {% if manga.author %}
                        <p class="card-text text-muted small mb-3">Por: {{ manga.author }}</p>
                    {% endif %}
                    
                    <a href="{{ manga.get_absolute_url }}" class="btn btn-primary">
                        Leer
                    </a>
                </div>
            </div>

        </div>

    </div>

    {% endfor %}

</div>

<style>
    .hover-shadow:hover {
        transform: translateY(-5px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    .transition {
        transition: all 0.3s ease-in-out;
    }
</style>

{% endblock %}