{% extends 'mangas/base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-4">

        <img
            src="{{ manga.cover.url }}"
            class="img-fluid"
        >

    </div>

    <div class="col-md-8">

        <h1>{{ manga.title }}</h1>
        {% if manga.author %}
            <p class="card-text text-muted small mb-3">Por: {{ manga.author }}</p>
        {% endif %}

        <p>{{ manga.description }}</p>

        <h3>Capitulos</h3>

        <ul>

            {% for chapter in manga.chapters.all %}

            <li>

                <a href="{% url 'read_chapter' manga.slug chapter.id %}">
                    {{ chapter.title }}
                </a>

            </li>

            {% endfor %}

        </ul>

    </div>

</div>

{% endblock %}